<footer style=" position: fixed;
padding: 10px 10px 0px 10px;
bottom: 0;
width: 80%;
height: 40px;">
  <div class="container-fluid align-bottom">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          ©2022, 
          made with <i class="fa fa-heart"></i> by
          <a href="https://www.natrajinfotech.com" class="font-weight-bold" target="_blank">NatrajInfoTech</a>
          for a better web.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Natraj Infotech</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</footer>