<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
 
</head>
<style>
    body{
    font-family: Poppins;
    height : 160vh;
    background:linear-gradient(135deg,);
}
.trigger_popup{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 20px;
}
#success_trigger{
    background: #32ba7c;
    position: fixed;
    top:20%;
    left:20%;
}
#error_trigger{
    background: #ff3636;
    position: fixed;
    top:20%;
    left:60%;
}
h1{
    font-size: medium;
}

#success{
    display:flex;
    top:20%;
    left:10%
}
#error{
    display: none;
    position: fixed;
    top:20%;
    left:55%;
}

.popup-content{
   /* display: block; */
   width: 98%;
    background-color: #ffffff;
    padding: 10px 13px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    top: 25%;
    border-radius: 5px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.imgbox{
    text-align: center;
}
.img{
    display:flex;
    width: 112px;
    margin-top: 40px;
}
.title{
    font-weight: 500;
    font-size: 24px;
   letter-spacing: 0.05em;
   text-align: center;
   margin: auto;
}
#success .title{
   color: black;
}
#error .title{
    color: #ff3636;
}
.para{
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;


}
.button{
    width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
}
#s_button{
    background: #32ba7c;
}
#e_button{
    background: #ff3636;
}
  </style> 
<body>
    <div class="popup-content">
        <div class="title">
            <h1>Congratulations!</h1>
            <h5> Your ad will be live shorty..</h5>
          </div>
          <table border = "1" width = "100%">
            <tr>
              <td>Category :  <%= data.category %></td>
           </tr>
           <tr>
            <td>Brand : <%= data.brand %></td>
         </tr>
         <tr>
          <td>Year : <%= data.year %></td>
       </tr>
       <tr>
        <td>Fuel : <%= data.fuel %> </td>
     </tr>
          </table><br>
        <h1>Do you want urgent sell ?</h1>
     
        <h4>Urgent sell reach more buyers & sell fastest</h4>
        <form action="">
          <a href="#" class="button" id="s_button">Sell Urgent Now</a>
        </form>
    </div>
  
</body>
</html>