<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
 
</head>
<style>
    *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height : 128vh;
    background:linear-gradient(135deg,);
}
hr{
    border: 2px solid;
    border-color:#dedcdc;
}
.container{
    width: 98%;
    background-color: #ffffff;
    padding: 10px 13px;
    transform: translate(-50%,-50%);
    position: relative;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
.title-con{
    background-color: #edf1ee;
    padding-top: 15px;
}
.title-con img{
    text-align: right;
    padding: 6px 4px;
    display: flex;
    width:35px;
    cursor: pointer;
}
p{
    text-align: right;
    font-weight: 100;
}
h3{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
form{
    width: 100%;
    position: relative;
    margin: 10px auto 0 auto;
 }
 .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 10px 10px;
    margin-bottom: 5px;
 }
 label{
    color:black;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
 }
 textarea,input,select{
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #c4cae0;
    margin-top: 5px;
}
textarea{ 
    resize: none;
}
textarea:focus,
input:focus,
select:focus{
    outline: none;
    border-color: black;
}
.btn-shadow{
    border-radius: 5px;
    border: 2px solid rgb(215, 215, 215);  
}
button{
    font-size: 17px;
    font-weight: 1000;
    width: 100%;
    border: 2px solid white;
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff4d00, #e48c5c);
    border-radius: 5px;
    color: #ffff;
    position: sticky;
    cursor: pointer;
}

input[type="radio"]{
    display: none;
}
.radiobtn{
    padding: 2px;
    display: flex;
    overflow-x: scroll;
}
.radiobtn label{
    position: relative;
    color: rgb(155, 154, 154);
    background: #f0f0f0;
    font-size: 12px;
    border: 2px solid #9ea19f;
    border-radius: 5px;
    padding: 2px  20px;
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
    cursor: pointer;
}
.radiobtn label:before{
    position: relative;
    content: "";
}
.radiobtn [type="radio"]:checked + label{
    background-color: #ffff;
    color: black;
    border-color: black;
}
.owner-con{
    padding: 2px;
    display: flex;
    overflow-x: scroll;
}
.owner-con label{
    position: relative;
    color: rgb(155, 154, 154);
    background: #f0f0f0;
    font-size: 12px;
    border: 2px solid #9ea19f;
    border-radius: 5px;
    padding: 2px  20px;
    margin: 5px;
    cursor: pointer;
}
.owner-con label:before{
    position: relative;
    content: "";
}
.owner-con [type="radio"]:checked + label{
    background-color: #ffff;
    color: black;
    border-color: black;
     box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.insurance-con{
    padding: 2px;
    display: flex;
    overflow-x: scroll;
}
.insurance-con label{
    display: flex;
    position: relative;
    color: rgb(155, 154, 154);
    background: #f0f0f0;
    font-size: 12px;
    border: 2px solid #9ea19f;
    border-radius: 5px;
    padding: 2px  20px;
    margin: 5px;
    cursor: pointer;
   
}
.insurance-con label:before{
    position: relative;
    content: "";
}
.insurance-con [type="radio"]:checked + label{
    background-color: #ffff;
    color: black;
    border-color: black;
}
.trans-container{
    padding: 2px;
}
.trans-container label{
    position: relative;
    color: rgb(155, 154, 154);
    background: #f0f0f0;
    font-size: 12px;
    border: 2px solid #9ea19f;
    border-radius: 5px;
    padding: 2px  20px;
    cursor: pointer;
}
.trans-container label:before{
    position: relative;
    content: "";
}
.trans-container [type="radio"]:checked + label{
    background-color: #ffff;
    color: black;
    border-color: black;
}

</style>
<body>
    <div class="container">
        <div class="title-con">
            <h3>Fill Some Details</h3>
            <img src="./img/backicon.png" >
            <hr>
        </div>
        
        <form action="/webviewIndex/add_vehicle"  method="post" enctype="multipart/form-data" >
            <div class="row">
                <div class="col">
                    <label for="brand-details">Brand*</label>
                    <div class="brand-container">
                        <select name="brand" id="dropdown-brand">
                           
                            <% if(brand.length){
                                for(var i = 0; i< brand.length; i++) {%> 
                              <option data-img-src="../assets/images/brand/<%= brand[i].image %>" value="<%= brand[i].brand_name %>"><%= brand[i].brand_name %></option>
                              <% } %> 
                              <% } %> 
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label for="year">Year*</label>
                    <input type="number" required name="year" placeholder="Year">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="labelad">
                        <label>Fuel*</label>
                    </div>
                    <div class="radiobtn" name="fuel" required>
                        <input type="radio" name="fuel" id="lpg">
                        <label for="lpg">LPG</label>
                        <input type="radio" name="fuel" id="electric">
                        <label for="electric">Electric</label>
                        <input type="radio" name="fuel" id="diesel">
                        <label for="diesel">Diesel</label>
                        <input type="radio" name="fuel" id="petrol">
                        <label for="petrol">Petrol</label>
                        <input type="radio" name="fuel" id="cng">
                        <label for="cng">CNG&Hybrid</label>
                    </div>
                </div>
                <div class="col">
                    <div class="labelad">
                        <label>Transmission*</label>
                    </div>
                    <div class="trans-container"  required>
                        <input type="radio" name="transmission" id="Automatic">
                        <label for="Automatic">Automatic</label>
                        <input type="radio" name="transmission" id="Manual">
                        <label for="Manual">Manual</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="km-run">Km run*</label>
                    <input type="number" name="km" required id="km-run" placeholder="Km run">
                </div>
                <div class="col">
                    <div class="labelad">
                        <label>Number Of Owner*</label>
                    </div>
                    <div class="owner-con" class required>
                        <input type="radio" name="owner" id="1st" value="1st" >
                        <label for="1st">1st</label>
                        <input type="radio" name="owner" id="2nd" value="2nd">
                        <label for="2nd">2nd</label>
                        <input type="radio" name="owner" id="3rd" value="3rd">
                        <label for="3rd">3rd</label>
                        <input type="radio" name="owner" id="4th"  value="4th">
                        <label for="4th">4th</label>
                        <input type="radio" name="owner" id="4th+" value="4th+">
                        <label for="4th+">4th+</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="labelad">
                        <label>Insurance Type</label>
                    </div>
                    <div class="insurance-con" required>
                        <input type="radio" name="insurance_type" id="comprehensive">
                        <label for="comprehensive">Comprehensive</label>
                        <input type="radio" name="insurance_type" id="third-party">
                        <label for="third-party">Third Party</label>
                        <input type="radio" name="insurance_type" id="zero-dep">
                        <label for="zero-dep">Zero Dep</label>
                    </div>
                </div>
                <div class="col">
                    <label for="insurance-val">Insurance Validity</label>
                    <input type="date" id="km-run" name="insurance_valid" required  placeholder="Expiry date in DD.MM.YYYY" >
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="ad-title">Ad title*</label>
                    <textarea id="my-text" required  name="title" placeholder="Heading of your Ad" id="" cols="68" rows="1"></textarea>
                    <p id="result"></p>
                    <label for="input">Select Image*</label>
                    <br>
                    <label for="inputOne" class="btn-shadow">Mandatory Image*</label>
                    <br>
                    <label for="inputTwo" class="btn-shadow">Optional Image</label>
                    <br>
                    <label for="inputThree" class="btn-shadow">Optional Image</label>
                    <br>
                    <label for="inputFour" class="btn-shadow">Optional Image</label>
                    <br>
                    <label for="inputFive" class="btn-shadow">Optional Image</label>

                    <input type="file" name="image" id="inputOne" placeholder="Heading of your Ad" cols="68" rows="1"  required hidden>
                    <input type="file" name="imageTwo" id="inputTwo" placeholder="Heading of your Ad" cols="68" rows="1"  hidden>
                    <input type="file" name="imageThree" id="inputThree" placeholder="Heading of your Ad" cols="68" rows="1"  hidden>
                    <input type="file" name="imageFour" id="inputFour" placeholder="Heading of your Ad" cols="68" rows="1"  hidden>
                    <input type="file" name="imageFive" id="inputFIve" placeholder="Heading of your Ad" cols="68" rows="1"  hidden>
                    <p id="result"></p>
                </div>
                
                <div class="col">
                    <label for="other-info">Other Information*</label>
                    <textarea id="my-text2"  required name="description" placeholder="Any other information related to car" cols="1" rows="6"></textarea>
                <p id="result2"></p>
                </div>
            </div>
            <div class="btn-shadow">
                <button type="submit" required value="submit">
                  Next</button>
            </div>
        </form>
    </div>
    <script>
        var myText = document.getElementById("my-text");
var result = document.getElementById("result");
var limit = 60;
result.textContent = 0 + "/" + limit;

myText.addEventListener("input", function(){
    var textlength = myText.value.length;
    result.textContent = textlength + "/" + limit;

    if (textlength > limit) {
        myText.style.borderColor = "#ff2851";
        result.style.color = "#ff2851";
    }
});
var myText2 = document.getElementById("my-text2");
var result2 = document.getElementById("result2");
var limit2 = 100;
result2.textContent = 0 + "/" + limit2;

myText.addEventListener("input", function(){
    var textlength2 = myText2.value.length;
    result2.textContent = textlength2 + "/" + limit2;

    if (textlength > limit) {
        myText2.style.borderColor = "#ff2851";
        result2.style.color = "#ff2851";
    }
});

getElementById("imageOne").onclick = ()=>{
  getElementById("inputeOne").click(); //if user click on the button then the input also clicked
}

    </script>
</body>
</html>